@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: #ffffff;
    --foreground: #171717;
    --color-primary-rgb: 158 240 26;
    /*--color-primary: #A1FF42;*/
    --color-complimentary-rgb: 56 176 0;
    /*--color-accent: #42FFD9;*/
    --color-accent-rgb: 204 255 51;
    /*--color-accent-rgb: 228, 255, 122;*/
    --color-white-rgb: 204 204 204;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.glow-layer {
    background: radial-gradient(
            320px circle at var(--x, 50%) var(--y, 50%),
            rgba(186, 255, 78, 0.85),
            transparent 65%
    );
    opacity: 0;
    transition: opacity 0.15s ease;
}


/*!* Diagonal outlined text background *!*/
/*.diagonal-text-bg {*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    background-color: black;*/
/*    overflow: hidden;*/
/*    pointer-events: none;*/
/*}*/

/* Diagonal outlined text texture */
/*.diagonal-text-bg {*/
/*    position: absolute;*/
/*    inset: 0;*/
/*    background: black;*/
/*    overflow: hidden;*/
/*    pointer-events: none;*/
/*}*/

/*.diagonal-text-bg::before {*/
/*    content:*/
/*            "InFlat. InFlat. InFlat. InFlat. InFlat.\A\*/
/*     InFlat. InFlat. InFlat. InFlat. InFlat.\A\*/
/*     InFlat. InFlat. InFlat. InFlat. InFlat.\A\*/
/*     InFlat. InFlat. InFlat. InFlat. InFlat.\A\*/
/*     InFlat. InFlat. InFlat. InFlat. InFlat.";*/

/*    position: absolute;*/
/*    inset: -50%;*/
/*    transform: rotate(40deg);*/

/*    white-space: pre;*/
/*    line-height: 1.4;*/
/*    letter-spacing: 0.18em;*/

/*    font-family: var(--font-title, system-ui, sans-serif);*/
/*    font-weight: 800;*/
/*    font-size: clamp(5rem, 14vw, 14rem);*/

/*    color: transparent;*/
/*    -webkit-text-stroke: 1.25px rgba(255, 255, 255, 0.5);*/
/*    text-stroke: 1.25px rgba(255, 255, 255, 0.5);*/

/*    opacity: 0.5;*/
/*}*/